<footer class="footer">
    <div class="footer-info">
      <div class="container">
        <div class="row footer-info-row">
  
          <!-- General Info Column -->
          <div class="col-lg-4 col-sm-6 footer-info-block">
            <h6>Tanaman indah</h6>
            <p>Tanaman indah memberikan pengalaman yang mudah bagi anda dalam memilih tanaman atau bunga untuk dekorasi, pajangan, maupun perawatan tanaman.</p>
            <p>Made with <span class="love">❤</span> by <a target="_blank" href="#"><span class="underline-hover">Cakasuma</span></a>
            </p>
          </div>
  
          <!-- Contacts Column -->
          <div class="col-lg-4 col-sm-6 footer-info-block footer-contacts">
            <h6>Contacts</h6>
  
            <p>21 Ilir, Palembang, Indonesia 30412<br>
              (0711) 834123<br>
              (0711) 234234<br>
              <a href="#"><span class="underline-hover">cakasuma@gmail.com</span></a>
            </p>
  
            <ul class="footer-social-links">
              <li><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
              <li><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
              <li><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
              <li><a href="#"><i class="icon ion-logo-youtube"></i></a></li>
            </ul>
          </div>
  
          <!-- More Info Column -->
          <div class="col-lg-4 col-sm-6 footer-info-block">
            <h6>Info Tambahan</h6>
            <ul class="footer-links">
              <li><a href="#"><span class="underline-hover">Tanya Jawab</span></a>
              <li><a href="#"><span class="underline-hover">Legalitas</span></a>
              <li><a href="#"><span class="underline-hover">Syarat & Ketentuan</span></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copy">&copy; Copyright - Suka Belati.</div>
  </footer>