<app-announcement></app-announcement>
<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row sorting-area">
          <!-- "Sort by" Column -->
          <div class="col-6">
            <div class="dropdown float-left">
              <a href="#" class="sort-value dropdown-toggle" id="sortOptions" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><span class="underline-hover">Sort by popularity</span></a>

              <div class="dropdown-menu sort-dropdown-menu" aria-labelledby="sortOptions">
                <a class="dropdown-item" href="#"><span class="underline-hover">Popularity</span></a>
                <a class="dropdown-item" href="#"><span class="underline-hover">Price</span></a>
                <a class="dropdown-item" href="#"><span class="underline-hover">Newest Arrivals</span></a>
              </div>
            </div>
          </div>

          <!-- "Showing n results" Column -->
          <div class="col-6 text-right">
            <div class="results-number-info">Showing 1–9 of 28 results</div>
          </div>
        </div>
        <div [hidden]="!loading" class="text-center align-middle h-100">
            <div class="spinner-grow text-danger" style="width: 8rem; height: 8rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        <div [hidden]="loading" class="row products">
          <div *ngFor="let p of plants; let i=index;" class="col-sm-12 col-md-6 col-lg-4" data-aos="fade-right">
            <div class="product">
              <div class="product-badge badge-best-seller">{{i+1}}</div>
              <a [routerLink]="['/pages/detail', p._id]" class="product-details">
                <span class="product-img">
                  <img class="d-block img-fluid" src="{{p.imagePath}}" alt="{{p.name}}">
                </span>
                <span class="product-name">{{p.name}}</span>
              </a>

              <div class="product-price">${{p.price}}</div>
              <div class="product-actions">
                <a [routerLink]="['/pages/detail', p._id]" class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>