<app-announcement></app-announcement>
<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row sorting-area">
          <!-- "Sort by" Column -->
          <div class="col-6">
            <div class="dropdown float-left">
              <a href="#" class="sort-value dropdown-toggle" id="sortOptions" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><span class="underline-hover">Sort by popularity</span></a>

              <div class="dropdown-menu sort-dropdown-menu" aria-labelledby="sortOptions">
                <a class="dropdown-item" href="#"><span class="underline-hover">Popularity</span></a>
                <a class="dropdown-item" href="#"><span class="underline-hover">Price</span></a>
                <a class="dropdown-item" href="#"><span class="underline-hover">Newest Arrivals</span></a>
              </div>
            </div>
          </div>

          <!-- "Showing n results" Column -->
          <div class="col-6 text-right">
            <div class="results-number-info">Showing 1–9 of 28 results</div>
          </div>
        </div>

        <div class="row products">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 1 -->
            <div class="product">
              <div class="product-badge badge-best-seller">Best Seller</div>
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-01.jpg" alt="">
                </span>
                <span class="product-name">Spring Magic</span>
              </a>

              <div class="product-price">$65.00</div>
              <div class="product-actions">
                <input type="number" value="1" min="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 2 -->
            <div class="product">
              <div class="product-badge badge-offer">Special Offer</div>
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-02.jpg" alt="">
                </span>
                <span class="product-name">Summer Fresh</span>
              </a>
              <div class="product-price"><del>$59.00</del> $49.00</div>
              <div class="product-actions">
                <input type="number" value="1" min="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 3 -->
            <div class="product">
              <div class="product-badge badge-sold-out">Sold Out</div>
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-03.jpg" alt="">
                </span>
                <span class="product-name">To Mum With Love</span>
              </a>
              <div class="product-price">$62.00</div>
              <div class="product-actions">
                <input type="number" value="1" min="1" class="form-control" />
                <a href="#" class="btn btn-primary disabled">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 4 -->
            <div class="product">
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-04.jpg" alt="">
                </span>
                <span class="product-name">Spring Morning</span>
              </a>

              <div class="product-price">$54.00</div>
              <div class="product-actions">
                <input type="number" value="1" min="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 5 -->
            <div class="product">
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-05.jpg" alt="">
                </span>
                <span class="product-name">Easter Flowers</span>
              </a>
              <div class="product-price">$72.00</div>
              <div class="product-actions">
                <input type="number" value="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 6 -->
            <div class="product">
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-06.jpg" alt="">
                </span>
                <span class="product-name">Pink Perfection</span>
              </a>
              <div class="product-price">$67.00</div>
              <div class="product-actions">
                <input type="number" value="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 7 -->
            <div class="product">
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-03.jpg" alt="">
                </span>
                <span class="product-name">Made For Mum</span>
              </a>

              <div class="product-price">$64.00</div>
              <div class="product-actions">
                <input type="number" value="1" min="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 8 -->
            <div class="product">
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-01.jpg" alt="">
                </span>
                <span class="product-name">Spring Blossom</span>
              </a>

              <div class="product-price">$40.00</div>
              <div class="product-actions">
                <input type="number" value="1" min="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <!-- Product 9 -->
            <div class="product">
              <a href="product.html" class="product-details">
                <span class="product-img">
                  <img class="d-block w-100" src="assets/img/product-02.jpg" alt="">
                </span>
                <span class="product-name">Summer Breeze</span>
              </a>

              <div class="product-price">$82.00</div>
              <div class="product-actions">
                <input type="number" value="1" min="1" class="form-control" />
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>