<nav class="navbar navbar-expand-md top-nav">
  <div class="container">
    <!-- Left Side Nav Items -->
    <div class="nav-col">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNav" aria-controls="topNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon ion-md-menu"></i>
      </button>

      <div class="collapse navbar-collapse" id="topNav">
        <div>
          <!-- Mobile Nav Close Icon -->
          <a href="#" class="close-navbar-mobile" data-toggle="collapse" data-target="#topNav">
            <i class="icon ion-md-close"></i>
          </a>

          <!-- Desctop Nav -->
          <ul class="nav-list d-none d-md-flex">
            <li class="d-none d-lg-block">
              <a [routerLink]="'pages/home'"><span class="underline-hover">Beranda</span></a>
            </li>
            <li>
              <a [routerLink]="'pages/shop'"><span class="underline-hover">Tanaman</span></a>
            </li>
            <li>
              <a [routerLink]="'pages/aboutus'"><span class="underline-hover">Informasi</span></a>
            </li>
          </ul>

          <!-- Mobile Nav -->
          <div class="d-md-none mobile-nav-block">
            <ul class="nav-list-mobile">
              <li><a [routerLink]="'pages/home'">Beranda</a></li>
              <li><a [routerLink]="'pages/shop'">Tanaman</a></li>
              <li><a [routerLink]="'pages/aboutus'">Informasi</a></li>
            </ul>
            <div class="phone-info-mobile"><i class="icon ion-md-call"></i>(+62) 8122394</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Logo -->
    <a class="nav-logo" href="#">Tanaman Indah</a>

    <!-- Right Side Nav Items -->
    <div class="nav-col">
      <ul class="nav-list nav-list-right">
        <li class="cart-nav-item">
          <a href="#">
            <i class="icon ion-md-person"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>