<app-header></app-header>
<!-- home page content-->
<section class="top-banner">
    <div class="container">
      <div class="top-banner-text">
        <img class="bg-img" src="assets/img/top-banner.png" alt="">
        <div>
          <!-- Desctop and Tablet -->
          <p class="d-none d-sm-block" data-aos="fade-up" data-aos-duration="700">Tanam <span>tanaman indah</span></p>
          <p class="d-none d-sm-block" data-aos="fade-up" data-aos-delay="700" data-aos-duration="700">dan buatlah kenangan segar<br>nan cantik bersamanya</p>
  
          <!-- Mobile-->
          <p class="d-sm-none" data-aos="fade-up" data-aos-duration="700">Tanam <span>tanaman indah</span> dan buatlah kenangan segar nan cantik bersamanya</p>
        </div>
      </div> 
    </div>
  </section>

<app-footer></app-footer>